


  table{
    width:100%;
  }
  .Table4TableContainerProps{
    flex: 1 1 auto;
    padding: 0.25rem;
    border-collapse: separate;
    border-spacing: 0;
    display: block;
    overflow: auto;
    table-layout: fixed;
  }

  :host ::ng-deep .mat-header-row{
    position: sticky;
    background-color: midnightblue;
    /* line-height: 30px; */
    min-height: 35px;
  }

  .mat-row
  {
min-height: 30px;
  }


  .mat-row:nth-child(odd)
  {background-color:  white !important;}

  .mat-row:nth-child(even)
  {background-color:lightgrey !important;}

  .mat-row:hover
  {background-color: lightskyblue !important; font-weight: bold !important;}


  :host ::ng-deep .mat-select-value{
    color:white;
  }

  :host ::ng-deep .mat-select-arrow-wrapper{
    color:white;
  }

  :host ::ng-deep .mat-paginator-icon{
    color:navy;
  }

  :host ::ng-deep .mat-select-arrow{
    color:white;
  }

  :host ::ng-deep .mat-form-field-underline{
    background-color:white !important;
  }


/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  /* background:#1F6D8B;  */
  background-image: linear-gradient(to bottom, #1F6D8B, #8fcae0);
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #1F6D8B;
}

.mat-cell
{
  color: grey; font-weight: bold;

}

.mat-header-cell
{
  color: white; font-weight: bold;
}

.btn{
  align-self: flex-end;
  margin-right: 3px;
  margin-left: 2px;
  margin-top: 10px;

}


