<div
magic="Table1"
class="table_scrollBar container_border Div-Layout"
infinite-scroll
[infiniteScrollDistance]="2"
[infiniteScrollThrottle]="500"
(scrolled)="tableService.onScrollDown()"
(click)="tableService.onScrollDown()"
[scrollWindow]="false"
>
<ng-container *ngFor="let row of task.Records.list">
   <div class="Div-block"
   *ngIf="mg.ifRowCreated(row) && !mg.isDataviewEmpty()"
   id="row"
   [formGroup]="mg.getFormGroupByRow(row.rowId)"
   [ngClass]="{ 'selected': mg.isRowSelected('Table1', row.rowId)}"
   [class.selected]="tableService.getSelectedRow() === row.rowId"
   (click)="tableService.selectRow(row.rowId)"
   [magicRow]="row?.rowId"
   >
   <label magic="City" [rowId]="row.rowId">
   {{mg.getValue('CapitalCities_City', row.rowId)}}
   </label><BR>
   <label  magic="Country" [rowId]="row.rowId">
   {{mg.getValue('CapitalCities_Country', row.rowId)}}
   </label>
   </div>
</ng-container>
</div>
